@import url("https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap");

@keyframes lava {
  0% {
    background-color: #ff0058;
  }
  50% {
    background-color: #ffa000;
  }
  100% {
    background-color: #ff0058;
  }
}

.game {
  font-family: "Play", sans-serif;
  margin: 0 auto;
  overflow: hidden;
  max-width: 750px;
  max-height: 580px;
  position: relative;
}

.score {
  font-size: 20px;
  position: fixed;
  top: 1%;
  right: 47%;
  width: max-content;
  height: max-content;
  text-align: center;
}

.left {
  transform: scale(-1, 1);
}

.background {
  background: rgb(52, 166, 251);
  table-layout: fixed;
  border-spacing: 0;
}

.background td {
  padding: 0;
}

.lava {
  background-image: url(./images/lava.gif);
  background-size: 100%;
}
.fire {
  background-color: transparent;
  border-radius: 50%;
  background-image: url(./images/electro.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
}

.drop {
  background-color: none;
  border-radius: 50%;
  background-image: url(./images/fire.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.wall {
  background: white;
}

.actor {
  position: absolute;
}

.coin {
  background-image: url(./images/rub-coin.gif);
  position: center;
  background-size: 110%;
  border-radius: 50%;
}

.player {
  overflow: visible;
  background-image: url(./images/mario.gif);
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.stay {
  background-image: url(./images/stay.gif);
  background-size: 150%;
}

.lost {
  opacity: 0;
  transition: opacity 1s;
}

.won {
  background-image: url(https://i.pinimg.com/originals/f7/5f/f2/f75ff23cd22d200f24bfd21f3a8b1f86.gif);
  background-size: 100%;
}
